@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";

header {
  
  .sidebar {
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    z-index: 1000;
    width: 251px;
    display: flex;
    border-right: 1px solid #d5dbe7;

  
    
      
    .left_header {
      width: 230px;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;
      
      .logo_img {
        width: min-content;
        height: 32px;
        margin-top: 12px;
        .logo{
          margin-right: 20px;
        }
      }
      .scrollable-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
          width: 6px;
        }
        
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
          background: #c1c1c1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
          background: #a8a8a8;
        }
    
        .dropdown_con, .button_couses_container, .button_authetication_container {
          width: auto;
          height: auto;
         
          margin-bottom: 10px;
          margin-top: 10px;
          position: relative; 
          
          
          .btn {
            border-radius: 8px !important;
            height: 40px;
            width: 205px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .element_button, .element_button_courses {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            

              
              .button_svg {
                width: 24px;
                height: 25px;
              }

           
              
              .text_button {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                color: #ffffff;
              }
              
              .text_button1 {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                color: #667797;
              }
              
              .u {
                display: flex;
                margin-left: 23px;
                
                .number_button {
                  color: #3e80f9;
                  font-family: 'Roboto', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                }
                
                .rounded-circle {
                  width: 22px;
                  height: 22px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
        
        .dropdown-menu-in-flow {
          position: relative; 
          min-width: 180px;
          border: none;
          background-color: transparent;
          box-shadow: none;
          margin-top: 5px;
          
          .dropdown-item {
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 400;
            align-items: center;
            margin-left: 15%;
            position: relative;
            padding: 5px 0;
            color: #7585a5;
            background: none;
            border: none;
            text-align: left;
            width: 100%;
            
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -15px;
              transform: translateY(-50%);
              width: 10px;
              height: 2px;
              background-color: #d5dbe7;
              border-radius: 1px;
            }
            
            &:hover {
              color: #3e80f9;
              background-color: transparent;
            }
          }
        }

        .w{
          width: 100%;
          height: auto;

          button{
            width: 205px;
            height: 40px;
            display: flex;
            margin-top: 10px;
            border:none;
            background: none;
            gap:10px;
            

            svg{
              margin-top: 7px;
              margin-left: 7px;
              fill: #667797;

            }

            p{
              margin-top: 7px;
              font-family: 'Roboto', sans-serif;
              font-size: 15px;
              font-weight: 400;
              color:#667797;
            }

          }

          &:hover{
            button{
              background-color: #9bcbfc;
              border-radius: 8px;
            }

            svg{
              fill:#1d72f2
            }
            p{
              color: #1d72f2;
            }
          }
        }
        .line{
          width: 205px;
          height: 1px;
          background-color:#d5dbe7;
          margin-top: 20px;
        }

        .text_h1{
          color: #667797;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-top: 20px;
          margin-left: 20px;

        }

        .certificate {
          position: relative; 
            .k {
              position: relative;
              width: 100%;
              height: 393px;
              
              .square {
                width: 205px;
                height: 219px;
                background-color: #4c49ee;
                position: relative; 
                z-index: 1;
                margin-top: 160px;
                border-radius: 20px;
                background-color: #ecf2fe;
                display: flex;
                justify-content: center;
                align-items: center;

                .k{
                  width: 165px;
                  height: 137px;
                  margin-top: 30px;
                  display: flex;
                  flex-direction: column;

                  h1{
                    color:#0f141f ;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    text-align: center;
                  }
                  p{
                    text-align: center;
                    color: #0c1018;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Roboto' sans-serif;

                  }
                  .button_card{
                    display: flex;
                    justify-content: center;

                    button{
                      border-radius: 100px;
                       font-size: 15px;
                        font-weight: 500;
                        font-family: 'Roboto' sans-serif;
                        width: 118px;
                        height: 45px;
                    }
                  }
                }
                
              }
              
              .circle {
                width: 114px;
                height: 114px;
                background-color: white;
                position: absolute; 
                top: -80px; 
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                background-repeat: no-repeat;
                background-position-x: 5px;
                background-position-y: 20px;
               
                .circle.custom-border {
              border: 5px solid #ecf2fe !important;
            }
                
               

              }
            }
          }
       
        

        









      }
    }
  }
  }
  
  .top-navbar {
    background-color: #ff3a3a;
    z-index: 999;
    height: 74px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }



.normal_button {
  background-color: #ffffff;
  color: #667797;

  .button_svg1 {
    fill: #667797;
  }

  .color_down {
    fill: #667797;
  }

  &:hover {
    background-color: #9bcbfc;
    color: #1d72f2;

    .text_button1{
      color: #1d72f2 !important;
    }

    .button_svg1 {
      fill: #1d72f2;
    }

    .color_down {
      fill: #1d72f2;
    }
  }
}

.active_button {
  background-color: #1d72f2;
  color: #ffffff;

  .button_svg1 {
    fill: #ffffff;
  }

  .color_down {
    fill: #ffffff;
  }
  .text_button1{
      color: #ffffff !important;
    }

  &:hover {
    background-color: #155bc8; // чуть темнее, но всё ещё яркий
    color: #ffffff;

    

    .button_svg1 {
      fill: #ffffff;
    }

    .color_down {
      fill: #ffffff;
    }
  }
}